/*Center Divi Menu*/

.itpxl-vertical-menu .et_pb_menu__menu nav ul li {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* Vertically Center Module Within Column [APPLY TO COLUMN] */

.itpxl-v-centered-module {
    margin: auto 0px;
}

@media (max-width: 980px) {
    /*open the mobile menu up and use on all devices*/
    .et-db #et-boc .et-l .pa-vertical-menu .et_pb_menu__menu {
        display: flex;
    }
    /*hide the hamburger icon*/
    .et-db #et-boc .et-l .pa-vertical-menu .et_mobile_nav_menu {
        display: none;
    }

    .itpxl-open-menu .et_pb_menu__menu {
	display: flex !important;
    }
	
    .itpxl-open-menu .et_mobile_nav_menu {
	display: none !important;
    }
}
